---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import About from "@components/About.astro";
import landAbout from "../assets/images/hvac/landingAbout.jpg"
---

<BaseLayout
  title="About"
  description="Meta description for the page"
 preloadImg={import(landAbout.src)} 
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <section id="int-hero">
    <h1 id="home-h">About Us</h1>
    <picture>
      <source
        media="(max-width: 600px)"
        srcset= {landAbout.src}
      />
      <source
        media="(min-width: 601px)"
        srcset= {landAbout.src}
      />
      <img
        aria-hidden="true"
        decoding="async"
        srcset= {landAbout.src}
        alt="kitchen cabinets"
        loading="eager"
        width="2500"
        height="1667"
      />
    </picture>
  </section>

  <!-- ============================================ -->
  <!--                 Side By Side                 -->
  <!-- ============================================ -->

  <About />
  <CTA />