---
import extra from "../assets/images/hvac/extra.jpg"
import gallery2 from "../assets/images/hvac/gallery2.jpg"
import gallery3 from "../assets/images/hvac/gallery3.jpg"
---

<section>
    <div>
        <h2>
        Our Featured Works
        </h2>
        <div>
            <div>
                <picture>
                    <source 
                    srcset={extra.src}
                    />
                </picture>
                <div>
                    <h6>
                        <a href="#">HEATING AND WATER</a>
                    </h6>
                    <a href="#">
                        <span>CASE STUDY</span>
                    </a>
                </div>

            </div>
            <div>
                
            </div>
            <div>
                
            </div>
        </div>
    </div>
</section>